<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:usesCleartextTraffic="true">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.CAMERA"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_launcher_background"
        android:supportsRtl="true"
        android:theme="@style/Theme.AllergicDetectorApplication"
        tools:targetApi="31">
        <activity
            android:name=".Account.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AllergicDetectorApplication.NoActionBar" />
        <activity android:name=".Account.SignUp" />
        <activity android:name=".Account.LogIn" />
        <activity android:name=".UserTools.UserMain" />
        <activity android:name=".UserTools.UserAllergens" />
        <activity android:name=".UserTools.CheckProduct" />
        <activity android:name=".photo.QrPhoto" />
        <activity android:name=".UserTools.AddAllergens" />
        <activity android:name=".photo.TextRecog" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode" />
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="ocr" />

    </application>
</manifest>